# Logs
logs
*.log
*.txt
.gitignore
npm-debug.log*
# Dependencies
node_modules/
src
build
steps.md
notes
temp
rollup.config.mjs
tsconfig.json
tsconfig.node.json
index.html
v.js
# Coverage
coverage

# Transpiled files
build/

# VS Code
.vscode
!.vscode/tasks.js

# JetBrains IDEs
.idea/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store