# Logs
logs
*.log
*.txt
.gitignore
npm-debug.log*


node_modules/
src/
build/
docs/
temp/
tests/

rollup.config.mjs
tsconfig.json
tsconfig.node.json
jest.config.ts
vite.config.ts
index.html

coverage

build/
.vscode
!.vscode/tasks.js
.idea/
.npm
.eslintcache
.DS_Store
.cache